/* Reset dan Font Dasar (opsional) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #fff;
  color: #000;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
}

.logo span {
  color: #333;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 50px;
  padding-right: 1rem;
}

.logout {
  background-color: red;
  color: white;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Main*/
main {
  padding: 20px;
}

main h2,
main h3 {
  text-align: center;
  margin: 0;
}

main h3 {
  margin-bottom: 20px;
}

.obat-card {
  display: flex;
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.obat-card img {
  width: 150px;
  margin-right: 20px;
}

.obat-info h4 {
  margin: 0;
}

.kategori {
  color: #999;
  font-size: 0.9em;
}

.obat-info a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.hapus-btn {
  background-color: #e63946;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #f5f5f5;
  padding: 2rem;
  margin-top: 3rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-content h2 {
  color: #007bff;
}

.footer-content span {
  color: #333;
}

.contact p {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact img {
  width: 20px;
}

footer p {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #777;
}